/* body {

    background-color: #B3E5FC;
    border-radius: 10px;

} */


.card {
    width: 400px;
    border: none;
    border-radius: 10px;

    background-color: #fff;
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important;
}

.cursos {
    font-size: 10px;
    color: #a1aab9;
}

.number1 {
    font-weight: 500;
}

.followers {
    font-size: 10px;
    color: #a1aab9;

}

.number2 {
    font-weight: 500;
}

.posts {
    font-size: 10px;
    color: #a1aab9;
}

.number3 {
    font-weight: 500;
}

.cursos-posts {
    margin-left: 40px;
    margin-right: 40px;
}